@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
    margin: 0;
    padding: 0;
    background: #fff;
    min-width: 340px;
    min-height: 340px;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
}

.inputs {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    /* background-color: darkgray;*/
    background-image: url(../img/main-background.jpg);
    background-size: cover;
    filter: blur(2px);
    z-index: 0;
}
container {
    left: 55%;
    padding: 10px;
    position: absolute;
    top: 5%;
}
.header {
    margin-left: 50px;
    position: relative;
}

.header div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span {
    color: #5379fa !important;
}

.login {
    border: 2px solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
}
#choosing {
    border: 2px solid;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
    position: relative;
}

.login input[type=password] {
    margin-top: 10px;
}

.login input[type=button] {
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    width: 260px;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=button]:focus {
    outline: none;
}
/*#info-popup*/#success-popup,#error-popup {
    border: 2px solid;
    border-radius: 10px;
    display: none;
    font-family: "Exo",sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 260px;
}
#links
{
    padding-top: 5px;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#user-info, #phones, #social, #avatar {
    position: absolute;
    z-index: 2;
}

#social {
    float: right;
    padding-top: 5%;
    position: relative;
    right: 5%;
}

#phones {
    clear: both;
    float: left;
    left: 5%;
    padding-top: 5%;
    position: relative;
}

#avatar {
    float: right;
    position: relative;
    right: 5%;
}

#user-info {
    float: left;
    left: 5%;
    position: relative;
    width: 260px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

#avatar-img {
    height: 190px;
    width: 160px;
}

#info-page {
    min-width: 700px;
    padding-left: 25%;
    padding-top: 5%;
    position: relative;
    width: 50%;
}

#user-info > input:not(:first-child) {
    margin-top: 10px;
}

.contour {

}

#search-block {
    float: left;
    left: calc(25% + 5px);
    padding-top: calc(1% + 1px);
    position: relative;
}

#add-contact {
    float: right;
    right: 25%;
    position: relative;
}

#add-block {
    float: left;
    left: calc(75% - 280px);
    padding-top: calc(1% + 4px);
    position: relative;
}

#add-contact {
    background: #a6dc8c none repeat scroll 0 0;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    color: #f5f5f5;
    font-family: Verdana;
    font-size: 2.3em;
    font-weight: bold;
    height: 30px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}

#add-contact:hover {
    background: #65d269 none repeat scroll 0 0;
    box-shadow: 0 0 5px gray;
}

#contacts {
    left: calc(25% + 5px);
    position: absolute;
    text-align: center;
    top: 55px;
    width: 50%;
}

.alp-header {
    background: #f7f373 none repeat scroll 0 0;
    border: 1px solid black;
    color: black;
    font-family: Carter One;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
}

.contact-note {
    height: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.contact-thumbnails {
    position: absolute;
}

.contact-thumbnails > img {
    width: 60px;
    border-radius: 50%;
}

.contact-short-info {
    height: 60px;
    padding-left: 75px;
}

a#forgot-link {
    font-family: Exo, sans-serif;
    font-size: 15px;
    position: relative;
}

a:link {
    color: #f9c11c;
    text-decoration: none;
}

a:visited {
    color: #b2085d;
}

a:hover {
    text-decoration: underline;
}

.choose-active {
    background: transparent !important;
}



#choose-sign-up, #choose-login {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #a18d6c;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    width: 128px;
}

.new-user-nickname {
    color: #65d269;
}

.popup-text {
    position: relative;
    width: 210px;
    word-wrap: break-word;
}
.popup-reg-result {
    bottom: 0;
    left: 0;
    margin: auto auto auto 230px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

