@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
    margin: 0;
    padding: 0;
    background: #fff;
    min-width: 700px;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
}

.inputs {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: darkgray;
    /*
    background-image: url(http://petersburgcity.com/download/wallpapers/scr_saver2_1152x864.jpg);
    background-size: cover;*/
    filter: blur(2px);
    z-index: 0;
}

.header {
    bottom: 155px;
    left: 50px;
    position: absolute;
    z-index: 3;
}

.header div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span {
    color: #5379fa !important;
}

.login {
    height: 150px;
    left: calc(70% - 210px);
    padding: 10px;
    position: absolute;
    top: 15%;
    width: 350px;
    z-index: 2;
}

.login input[type=password] {
    margin-top: 10px;
}

.login input[type=button] {
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    width: 260px;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=button]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#user-info, #phones, #social, #avatar {
    position: absolute;
    z-index: 2;
}

#social {
    float: right;
    padding-top: 5%;
    position: relative;
    right: 5%;
}

#phones {
    clear: both;
    float: left;
    left: 5%;
    padding-top: 5%;
    position: relative;
}

#avatar {
    float: right;
    position: relative;
    right: 5%;
}

#user-info {
    float: left;
    left: 5%;
    position: relative;
    width: 260px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

#avatar-img {
    height: 190px;
    width: 160px;
}

#info-page {
    min-width: 700px;
    padding-left: 25%;
    padding-top: 5%;
    position: relative;
    width: 50%;
}

#user-info > input:not(:first-child) {
    margin-top: 10px;
}

.contour {

}

#search-block {
    float: left;
    left: 20%;
    padding-top: 1%;
    position: relative;
    top: 5%;
}

#add-contact {
    float: right;
    right: 25%;
    position: relative;
}

#add-contact {
    background: #a6dc8c none repeat scroll 0 0;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    color: #f5f5f5;
    font-family: Verdana;
    font-size: 3em;
    font-weight: bold;
    height: 45px;
    line-height: 1.1em;
    text-align: center;
    text-decoration: none;
    width: 45px;
}

#add-contact:hover {
    background: #65d269;
    width: 47px;
    height: 47px;
    font-size: 3.1em;
    box-shadow: 0 0 5px gray;
}