<script id="contact-show-template" type="text/template">
    <div id="info-page">
        <div class="contour">
            <div id="user-info">
                <input class="inputs" type="text" name="name" placeholder="Name" value="<%= name %>"><br/>
                <input class="inputs" type="text" name="surname" placeholder="Surname" value="<%= surname %>"><br/>
                <input class="inputs" type="text" name="thirdname" placeholder="Third name" value="<%= thirdname %>"><br/>
                <input class="inputs" type="text" name="birthday" placeholder="Birthday" value="<%= birthday %>">
            </div>
        </div>
        <div id="avatar">
            <img id="avatar-img" src="<%= avatar %>">
        </div>
        <div id="phones">
            <input class="inputs" type="text" name="phone"><br/>
        </div>
        <div id="social">
            <input class="inputs" type="text" name="social"><br/>
        </div>
    </div>
</script>