<div id="search-block"><input class="inputs" id="search" type="text" placeholder="Search"></div>
<div id="add-block"><a href="#add" id="add-contact">+</a></div>
<div id="contacts">
<!-- !!!!!!!Подумать над  group_letter!!!!!!!!  -->
</div>
<script id="list-template" type="text/template">
    <div class="sorted-by-alp" id="group_<%= group_letter%>">
        <p class="alp-header"><%= group_letter %></p>
        <div id="contact-notes-block"></div>

    </div>
</script>
<script id="contact-note-template" type="text/template">
    <div class="contact-note">
        <div class="contact-thumbnails"><img src="<%= avatar %>"/></div>
        <div class="contact-short-info"><p class="contact-short-info-text"><%= surname %> <%= name %>
            <%= thirdname %></p></div>
    </div>
</script>
